@media screen and (max-width: 1800px) {
  /* for the left section */
  .wrapper{
    height: 100vh;
    overflow: hidden;
  }
  .title {
    margin-top: 0;
  }
  #title-sorting {
    font-size: 3rem;
  }

  .left-section {
    height: 105vh;
  }

  .menu-container {
    position: relative;
    gap: 1.75rem;
    justify-content: space-evenly;
    margin: auto 0;
  }
  .parameters {
    gap: 0.75rem;
    margin: 1% auto;
  }
  .reset-button {
    padding: 8px;
  }
  .buttons-box {
    gap: 1rem;
  }
  .buttons-box button {
    padding: 0.5rem;
  }
  .toggle-play button {
    padding: 10px 15px;
  }
  /* for the right section */
  .sorting-window {
    height: 58%;
    padding: 4rem 1rem 0;
    margin-top: 0.8rem;
  }
  .legend {
    height: 5rem;
  }
  .legend-items {
    /* position: relative; */
  }
  .sort-desc {
    height: 2rem;
    font-size: 1.25rem;
  }
  .tables {
    display: flex;
    gap: 1rem;
  }
  .time,
  .space {
    min-width: 50%;
  }
  .disc {
    top: 1%;
    right: 1%;
  }
}

@media screen and (max-width: 1500px) {


  .wrapper{
    overflow-y: auto;
  }

  .left-section {
    height: 110vh;
    width: 27%;
  }

  .title {
    margin-top: 0;
  }
  #title-sorting {
    font-size: 2rem;
  }

  .menu-container {
    position: relative;
    gap: 1.75rem;
    justify-content: space-evenly;
    margin: auto 0;
    /* background-color: red; */
  }

}

@media screen and (max-width: 1200px) {
  /* for the left section */
  .wrapper {
    
  }

  .title {
    margin-top: 0;
  }
  #title-sorting {
    font-size: 2rem;
  }


  .left-section{
    height: fit-content;
  }

  .menu-container {
    position: relative;
    height: fit-content;
    transform: scale(0.9);
    gap: 1.75rem;
    justify-content: space-evenly;
  }

  :root{
    overflow-x: hidden;
  }

  .disc {
    top: 1%;
    right: 1%;
  }   
}

@media screen and (max-width: 1000px) {
  /* for the left section */
  .wrapper {
    height: fit-content;
  }

  .title {
    margin-top: 0;
  }
  #title-sorting {
    font-size: 2rem;
  }
  .menu-container {
    height: fit-content;
    position: relative;
    transform: scale(0.8);
    gap: 3rem;
    justify-content: space-evenly;
    margin: auto 0;
  }
  .left-section {
    height: auto;
  }

  .tables{
    margin-top: 2rem;
  }

  .pause-status{
    top: 22%;
    left: 30%;
  }

  .disc {
    top: 1%;
    right: 1%;
  }
}

/* tablet */
@media screen and (max-width: 850px) {
  .wrapper {
    height: 120vh;
    overflow-x: hidden;
  }


  .right-section{
    top: 5rem;
    position: relative;
    height: 150vh;
    width: 150vh;
  }


  .left-section{
    display: none;
  }
}