@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: beige;
  display: flex;
}

.left-section {
  height: 100vh;
  width: 20%;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-container {
  height: 90%;
  margin: auto 0;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.title {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  /* position: absolute;
  top: 3rem;
  left: 5.5rem; */
}

.parameters {
  margin: 0 auto;
  height: 200px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.generate-btn {
  background-color: #125ac6;
  color: white;
  border: none;
  padding: 9px;
  border-radius: 7px;
  font-weight: 400;
  transition: background-color 0.2s;
}

.generate-btn:hover {
  background-color: #0f418d;
}

.slider {
  appearance: none;
}

.slider::-webkit-slider-thumb {
  margin-top: -5px;
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #ffbfa9;
}

.slider::-webkit-slider-runnable-track {
  background-color: #ff6969;
  border-radius: 8px;
  height: 5px;
}

.buttons-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.7rem;
  align-items: center;
}

.buttons-box button {
  cursor: pointer;
  border-radius: 7px;
  border: none;
  width: 60%;
  padding: 10px;
  transition: 0.2s;
  font-weight: 500;
}

.bubble {
  background-color: #ffc107;
}

.bubble:hover {
  background-color: #cc9a05;
  box-shadow: 2px 2px 5px #cc9a05;
}

.selection {
  background-color: #6c757c;
  color: rgb(231, 231, 231);
}

.selection:hover {
  background-color: #3f4449;
  box-shadow: 2px 2px 5px #3f4449;
}

.insertion {
  background-color: #1a8755;
  color: rgb(231, 231, 231);
}

.insertion:hover {
  background-color: #105434;
  box-shadow: 2px 2px 5px #105434;
}

.merge {
  background-color: #d83444;
  color: rgb(231, 231, 231);
}

.merge:hover {
  background-color: #a42733;
  box-shadow: 2px 2px 5px #a42733;
}

.quick {
  background-color: #1e2225;
  color: rgb(231, 231, 231);
}

.quick:hover {
  background-color: #000000;
  box-shadow: 2px 2px 5px #000;
}

.right-section {
  width: 100%;
}

.container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.legend {
  height: 100px;

  position: relative;
}

.legend-items {
  display: flex;
  position: absolute;
  top: 3.75rem;
}

.legend-items div {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.legend-items p {
  margin: 0px 10px;
}

.unsorted-legend {
  background-color: black;
}

.sorted-legend {
  background-color: green;
}

.comparison-yellow-legend {
  background-color: rgb(251, 251, 0);
}

.comparison-red-legend {
  background-color: red;
}

.sorting-window {
  background-color: black;
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 100px;
  padding: 100px 1rem 0 1rem;
  border-radius: 10px;
}

.bar {
  width: 10%;
  width: 1rem;
  background-color: aliceblue;
  margin: 1px;
}

.details {
}

.time {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.time-top {
  margin-top: 5rem;
  background-color: #829ef4;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

#first-item {
  position: absolute;
  font-weight: bold;
  left: 0.5rem;
}

.time-bottom {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  font-size: 1rem;
  margin-bottom: 5px;
}

li {
  list-style-type: none;
  font-weight: bold;
}

.space {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.space-top {
  margin-top: 1rem;
  background-color: #98c4b7;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.space-bottom {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  font-size: 1rem;
  margin-bottom: 5px;
}
